<template>
  <div id="app">
  <v-app id="inspire">
    <v-container>
      <v-card>
        <v-layout justify-left>
            <v-btn color="orange darken-2" dark href="/user">
              <v-icon dark>add</v-icon>NEW USER
            </v-btn>
          </v-layout>
        <v-card-title>
          LIST USER
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="users"
          :search="search"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">{{ props.item.name }}</td>
            <td class="text-xs-center">{{ props.item.subject }}</td>
            <td class="text-xs-center">{{ props.item.satisfaction.name }}</td>
            <td class="text-xs-center">{{ props.item.prioritie.name }}</td>
            <td class="text-xs-center">{{ props.item.statu.name }}</td>
          </template>
          <template v-slot:no-results>
            <v-alert :value="true" color="error" icon="warning">
              Your search "{{ search }}" Does not exist in the system.
            </v-alert>
          </template>
        </v-data-table>
      </v-card>
    </v-container>
  </v-app>
 </div>
</template>
<script>
import axios from 'axios'

export default {
  data () {
    return {
      search: '',
      headers: [
        { text: 'User Name', value: 'name' },
        { text: 'Subject', value: 'subject' },
        { text: 'Customer Satisfaction', value: 'satisfaction.name' },
        { text: 'Priority', value: 'prioritie.name' },
        { text: 'Status', value: 'statu.name' },
      ],
      users: []
    }
  },
  mounted () {
    this.getUsers()
  },
  methods: {
    getUsers () {
      axios({ method: 'GET', url: 'api/users' }).then(
        result => {
          console.log(result.data)
          this.users = result.data
        },
        error => {
          console.error(error)
        }
      )
    }
  }
}
</script>