<template>
  <div id="app">
    <v-app id="inspire">
      <v-container>
        <v-layout justify-left>
          <v-btn color="orange darken-2" dark href="/users">
            <v-icon dark left>arrow_back</v-icon>LIST USERS
          </v-btn>
        </v-layout>
        <v-layout justify-center>
          <div class="title font-weight-light">NEW USER</div>
        </v-layout>
      </v-container>
      <v-form v-on:submit.prevent="registerUser">
        <v-container>
          <v-layout justify-center>
            <v-flex 
              xs12
              md4
            >
              <v-text-field
                v-model="name"
                :rules="nameRules"
                label="User Name"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout justify-center>
            <v-flex
              xs12
              md4
            >
              <v-text-field
                v-model="subject"
                :rules="nameRules"
                label="Subject"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout justify-center>
            <v-flex
              xs12
              md4
            >
              <v-select
                item-value="id"
                v-model="satisfaction_id"
                :rules="selectRules"
                :items="satisfactions"
                item-text="name"
                label="Customer Satisfaction"
                required
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout justify-center>
            <v-flex
              xs12
              md4
            >
              <v-select
                item-value="id"
                v-model="prioritie_id"
                :rules="selectRules"
                :items="priorities"
                item-text="name"
                label="Priority"
                required
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout justify-center>
            <v-flex
              xs12
              md4
            >
              <v-select
                item-value="id"
                v-model="statu_id"
                :rules="selectRules"
                :items="status"
                item-text="name"
                label="Status"
                required
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout justify-center>
            <v-btn type="submit" color="success">SAVE
              <v-icon dark right>check_circle</v-icon>
            </v-btn>
          </v-layout>
        </v-container>
      </v-form>
    </v-app>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      satisfactions: [],
      priorities: [],
      status: [],
      name: '',
      subject: '',
      satisfaction_id: '',
      prioritie_id: '',
      statu_id: '',
      selectRules: [
        v => !!v || 'Select an option please'
      ],
      nameRules: [
        v => !!v || 'Obligatory field'
      ]
    }
  },
  mounted () {
    this.getSatisfactions()
    this.getPriorities()
    this.getStatus()
  },
  methods: {
    getSatisfactions () {
      axios({ method: 'GET', url: '/api/satisfactions' }).then(
        result => {
          console.log(result.data)
          this.satisfactions = result.data
        },
        error => {
          console.error(error)
        }
      )
    },
    getPriorities () {
      axios({ method: 'GET', url: '/api/priorities' }).then(
        result => {
          console.log(result.data)
          this.priorities = result.data
        },
        error => {
          console.error(error)
        }
      )
    },
    getStatus () {
      axios({ method: 'GET', url: '/api/status' }).then(
        result => {
          console.log(result.data)
          this.status = result.data
        },
        error => {
          console.error(error)
        }
      )
    },
    registerUser () {
      axios.post('/api/user',
        {
          name: this.name,
          subject: this.subject,
          satisfaction_id: this.satisfaction_id,
          prioritie_id: this.prioritie_id,
          statu_id: this.statu_id
        }
      ).then((res) => {
        console.log(res)
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>